@media (min-width: 321px) and (max-width: 640px) {
    .arrow-blocks{
        height: 75px;
        width: 91px;
        position: absolute;
        background: #acd8ad;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
    }
}
@media (min-width: 417px) and (max-width: 640px) {
    .arrow-blocks{
        height: 75px;
        width: 100px;
        position: absolute;
        background: #acd8ad;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
    }
}
@media (min-width: 417px) and (max-width: 640px) {
    .arrow-blocks{
        width: 170px;

    }
}



    @media screen and (min-width: 640px) {

    .container{
        width: 640px;

    .main-bcg__headlines{
        padding: 34px 40px;
    }

    .main-sections{
        margin-top: 5px;
    }

    .main-sections__items{
        height: 150px;
        margin-top: 3px;
    }
    .bg-section-1{
        background-image: url("../images/template640/delivery640.png");
    }

    .bg-section-2{
        background-image: url("../images/template640/ua_ux_salads640.png");
    }

    .bg-section-3{
        background-image: url("../images/template640/desserts640.png");
    }
    .items__caption{
        font-size: 40px;
        padding-left: 124px;
    }

    .ic-sec{
        padding-left: 150px;
    }

    .ic-third{
        padding-left: 170px;
    }
    .arrow-blocks{
        height: 150px;
        width: 142px;
    }

    .chevron__320{
        font-size: 26px;
    }

    .menu__intro-headline{
        font-size: 40px;
        margin-top: 42px;
    }

    .menu__sub-headline{
        font-size: 20px;
        padding-left: 16px;
        padding-top: 6px;
    }

    .menu__first-banner{
        height: 74px;
        margin-top: 22px;
    }

    .menu__first-banner__caption{
        font-size: 40px;
        padding-left: 36px;
    }

    .menu__items-wrapper{
        padding: 0 32px 0 32px;
    }

    .menu__items-wrapper__block{
        padding-top: 22px;
    }

    .menu__items-wrapper__block__headline{
        font-size: 30px;
    }

    .menu__items-wrapper__block__images640{
        display: block;
    }

    .menu__items-wrapper__block__images320{
        display: none;
    }

    .menu__items-wrapper__list{
        padding-top: 8px;
    }

    .menu__items-wrapper__list-item{
        padding-top: 22px;
    }

    .menu__items-wrapper__list-item__first-stroke__sub-headline,.menu__items-wrapper__list-item__first-stroke__price-line{
        font-size: 28px;
    }

    .menu__items-wrapper__list-item__text-line{
        font-size: 18px;
        padding-top: 14px;
    }

    .menu__items-wrapper__block_indent{
        padding-top: 36px;
    }

    .menu__second-banner{
        height: 74px;
        margin-top: 66px;
    }

    .menu__second-banner__caption{
        font-size: 40px;
        padding-left: 36px;
    }

    .menu__items-wrapper__block_second{
        padding-top: 30px;
    }

    .menu__items-wrapper__block_second-indent{
        padding-top: 44px;
    }

    .menu__items-wrapper__list_second{
        padding-top: 14px;
    }

    .footer{
        height: 110px;
        margin-top: 100px;
    }

    .footer__wrapper{
        font-size: 24px;
        line-height: 36px;
    }
}

@media screen and (min-width: 641px) {
    .container {
        width: 980px;
    }

    .header__banner {
        height: 97px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__headline {
        display: none;
    }

    .header__burger {
        display: none;
    }

    .header__burger__dropdown-menu980 {
        display: flex;
        width: 600px;
        font-family: 'Montserrat', sans-serif;
        justify-content: space-between;
        padding-left: 30px;
        padding-top: 0;
        align-content: center;
        align-items: baseline;
        font-size: 15px;
        text-transform: uppercase;
        color: #ffffff;
    }

    .header__burger__dropdown-menu980__item{
        cursor: pointer;
    }

    .header__item__icon980 {
         display: block;
         padding-right: 30px;
         cursor: pointer;
     }

    .header__main-bcg {
        background-image: url("../images/template980/header980.png");
        height: 530px;
    }

    .headlines__tagline {
        font-size: 54px;
        font-weight: 700;
    }

    .headlines__tagline:nth-child(2) {
        padding-top: 21px;
    }

    .headlines__tagline:nth-child(3) {
        font-size: 34px;
        padding-top: 45px;
        color: #9fcdd7;
    }

    .main-bcg__headlines {
        padding: 52px 61px;
    }

    .main-sections {
        margin-top: 6px;
        display: flex;
    }

    .main-sections__items {
        height: 327px;
        width: 327px;
        justify-content: center;
    }

    .bg-section-1 {
        background-image: url("../images/template980/delivery980.png");
    }

    .bg-section-2 {
        background-image: url("../images/template980/ua_ux_salads980.png");
    }

    .bg-section-3 {
        background-image: url("../images/template980/desserts980.png");
    }

    .items__caption, .ic-sec, .ic-third {
        padding-left: 0;
    }

    .arrow-blocks {
        display: none;
    }

    .menu__headlines-wrapper {
        display: flex;
        height: 89px;
        padding-top: 47px;
        justify-content: space-between;
        align-items: flex-end;
        padding-left: 30px;
    }

    .menu__intro-headline {
        text-transform: uppercase;
        font-size: 34px;
        color: #3f4043;
        margin-top: 0;
        text-align: unset;
    }

    .menu__sub-headline {
        color: #d2d3d5;
        padding-left: 0;
        padding-top: 3px;
    }

    .menu__headlines-wrapper__middle-img {
        height: 89px;
        display: block;
        padding-right: 30px;
        cursor: pointer;
    }

    .menu__headlines-wrapper-inner {
        height: 63px;
    }

    .menu__global-wrapper {
        display: flex;
        padding-top: 20px;
    }

    .menu__first-banner {
        margin-top: 0;
        display: flex;
        align-items: center;
    }

    .menu__second-banner {
        margin-top: 0;
    }

    .menu__first-banner__caption {
        font-size: 34px;
        padding-left: 18px;
    }

    .menu__items-wrapper__block {
        padding-top: 25px;
        height: 52px;
    }

    .menu__items-wrapper__list-item__first-stroke__sub-headline {
        font-size: 24px;
    }

    .menu__items-wrapper__block__headline {
        font-size: 26px;
    }

    .menu__second-banner__caption {
        font-size: 34px;
        padding-left: 18px;
    }

    .menu__items-wrapper__list_second{
        padding-top: 9px;
    }

    .footer {
        height: 97px;
        margin-top: 85px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__wrapper__propositions{
        display: inline-block;
        font-size: 18px;
    }

    .footer__wrapper__propositions:nth-child(2){
        padding-right: 30px;
    }

    .footer__logo{
        display: block;
        padding-left: 30px;
        cursor: pointer;
    }

    .footer__wrapper {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 12px;
        color: #ffffff;
        line-height: 18px;
    }
}

@media screen and (min-width: 1200px) {

    .container {
        width: 1200px;
    }

    .header__main-bcg {
        background-image: url("../images/template1200/background1200.png");
        height: 650px;
    }

    .headlines__tagline {
        font-size: 62px;
    }

    .headlines__tagline:nth-child(3) {
        font-size: 38px;
    }

    .main-sections__items {
        height: 400px;
        width: 400px;
    }

    .bg-section-1 {
        background-image: url("../images/template1200/delivery1200.png");
    }

    .bg-section-2 {
        background-image: url("../images/template1200/ui_ux_salad1200.png");
    }

    .bg-section-3 {
        background-image: url("../images/template1200/desserts1200.png");
    }

    .menu__intro-headline {
        font-size: 40px;
    }

    .menu__first-banner__caption {
        font-size: 40px;
    }

    .menu__items-wrapper__list-item__first-stroke__sub-headline {
        font-size: 27px;
    }

    .menu__items-wrapper__block__headline {
        font-size: 30px;
    }

    .menu__second-banner__caption {
        font-size: 40px;
    }

    .footer__wrapper {
        font-size: 18px;
    }

}