.container{
    margin: 0 auto;
    width: 100%;
}

.header__banner{
    background: #373c3f;
    height: 37px;
    position: relative;
}

.header__headline{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 12.2999px;
    font-weight: 400;
    padding: 12px 18px;
}

.header__burger{
    width: 41px;
    height: 37px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #202529;
    top: 0;
    right: 0;
}

.burger__icon {
    height: 10px;
    width: 16px;
    position: relative;
}

.header__burger__dropdown-menu{
    width: 181px;
    height: 160px;
    background: #fafafa;
    position: absolute;
    display: none;
    border: 1px solid #e1e1e1;
    right: 0;
    top: 37px;
}

.header__burger__dropdown-menu980{
    display: none;
}

.header__item__icon980{
    display: none;
}

.header__burger__dropdown-menu__item{
    height: 31px;
    display: flex;
    align-items: center;
    padding-left: 13px;
    font-size: 12.34px;
    border-bottom: 1px solid #f1f1f1;
}

.header__burger__dropdown-menu__item:hover{
    background: #f5f5f5;
}

.burger__item,
.burger__item::before,
.burger__item::after {
    width: 16px;
    height: 2px;
    position: absolute;
    top: 49%;
    margin-top: -1px;
    background-color: #ffffff;
}

.burger__item::before,
.burger__item::after{
    content: '';
    transition: 0.3s;
}

.burger__item::before{
    transform: translateY(-4px);
}

.burger__item::after{
    transform: translateY(4px);
}

.header__burger:hover .burger__item{
    height: 0;
    margin-top: 0;
}

.header__burger:hover .burger__item::before{
    transform: rotate(45deg);
}

.header__burger:hover .burger__item::after{
    transform: rotate(-45deg);
}

.header__burger:hover .header__burger__dropdown-menu{
    display: block;
}

.header__main-bcg{
    background-image: url("../images/template640/header640.png");

    background-size:100%;
    height: 173px;
    font-family: 'Lato', sans-serif;
}

.headlines__tagline{
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.headlines__tagline:nth-child(2) {
    padding-top: 7px;
}

.headlines__tagline:nth-child(3){
    font-size: 14px;
    padding-top: 9px;
    color: #9fcdd7;
}

.main-bcg__headlines{
    padding: 17px 20px;
}

.main-sections{
    margin-top: 4px;
}

.main-sections__items{
    height: 75px;
    margin-top: 2px;
    font-family: 'Lato', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
}

.bg-section-1{
    background-image: url("../images/Pizza delivery fon copy 3.png");
    background-size: 100%;
}

.bg-section-2{
    background-image: url("../images/UA_UX Salads fon copy 3.png");
    background-size: 100%;
}

.bg-section-3{
    background-image: url("../images/Desserts fon copy 3.png");
    background-size: 100%;
}

.items__caption{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    padding-left: 62px;
}

.ic-sec{
    padding-left: 75px;
}

.ic-third{
    padding-left: 85px;
}

.arrow-blocks{
    height: 75px;
    width: 71px;
    position: absolute;
    background: #acd8ad;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
}

.chevron__320{
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
}

menu{
    font-family: 'Lato', sans-serif;
}

.menu__intro-headline{
     text-transform: uppercase;
     font-size: 20px;
     color: #3f4043;
     margin-top: 21px;
     text-align: center;
 }

.menu__sub-headline{
    color: #d2d3d5;
    font-size: 10px;
    padding-left: 8px;
    padding-top: 3px;
}

.menu__headlines-wrapper__middle-img{
    display: none;
}

.menu__first-banner{
    height: 37px;
    background: #3f4043;
    margin-top: 11px;
    display: flex;
    align-items: center;
}

.menu__first-banner__caption{
    font-size: 20px;
    color: #a6d0a7;
    text-transform: uppercase;
    padding-left: 18px;
}

.menu__items-wrapper{
    padding: 0 16px 0 16px;
    color: #3f4043;
}

.menu__items-wrapper__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 11px;
}

.menu__items-wrapper__block__headline{
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
}

.menu__items-wrapper__block__images640{
    display: none;
}

.menu__items-wrapper__list{
    padding-top: 4px;
}

.menu__items-wrapper__list-item{
    list-style: none;
    padding-top: 11px;
}

.menu__items-wrapper__list-item__first-stroke__sub-headline,.menu__items-wrapper__list-item__first-stroke__price-line{
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
}

.menu__items-wrapper__list-item__first-stroke__price-line{
    font-weight: 500;
}

.menu__items-wrapper__list-item__text-line{
    font-size: 9px;
    padding-top: 7px;
    text-align: justify;
}

.menu__items-wrapper__list-item__first-stroke{
    display: flex;
    justify-content: space-between;
}

.menu__items-wrapper__block_indent{
    padding-top: 18px;
}

.menu__second-banner{
    height: 37px;
    background: #acd8ad;
    margin-top: 33px;
    display: flex;
    align-items: center;
}

.menu__second-banner__caption{
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 18px;
}

.menu__items-wrapper__block_second{
    padding-top: 15px;
}

.menu__items-wrapper__block_second-indent{
    padding-top: 22px;
}

.menu__items-wrapper__list_second{
    padding-top: 7px;
}

.footer{
    height: 55px;
    margin-top: 50px;
    background: #acd8ad;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__logo{
    display: none;
}

.footer__wrapper{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    line-height: 18px;
}
