@charset "UTF-8";
.square-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border: 1px solid black;
  background-color: white;
  font-size: 18px;
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  font-size: 25px;
  font-weight: bold;
  width: 38px;
  height: 38px;
}
.modal-close span {
  line-height: 25px;
}

#nav-icon1 {
  width: 29px;
  position: relative;
  margin-top: 30px;
  margin-right: 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 6;
}
@media (min-width: 769px) {
  #nav-icon1 {
    display: none;
  }
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #2a2a2a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 4px;
}

#nav-icon1 span:nth-child(3) {
  top: 8px;
}

#nav-icon1.open span:nth-child(1) {
  top: 8px;
  background: white;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  background: white;
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.header-navbar {
  width: 100%;
  background-color: white;
  box-shadow: 1px 3px 8px 0px #b9b7b7;
}
@media (max-width: 768px) {
  .header-navbar__form {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.header-navbar__search-wrapper {
  position: relative;
}
.header-navbar__search {
  border-radius: 0;
  font-size: 14px;
  border: 0.3px solid black;
  box-shadow: inset 0 0 2px 0 #000;
  margin-right: 0 !important;
  width: 227px !important;
  outline: 0;
}
@media (max-width: 479px) {
  .header-navbar__search {
    width: 150px !important;
  }
}
@media (min-width: 768px) {
  .header-navbar__search {
    width: 320px !important;
  }
}
@media (max-width: 479px) {
  .header-navbar__search::placeholder {
    font-size: 11px;
  }
}
.header-navbar__icon-search {
  position: absolute;
  right: 8px;
  top: 9px;
}
@media (max-width: 479px) {
  .header-navbar__icon-search {
    font-size: 11px;
    right: 6px;
    top: 12px;
  }
}
.header-navbar__wrapper {
  height: 100%;
  position: relative;
}
.header-navbar__list-wrapper {
  position: absolute;
  width: 154px;
  background-color: #363636;
  z-index: 5;
  display: none;
}
@media (max-width: 479px) {
  .header-navbar__list-wrapper {
    width: 120px;
  }
}
@media (min-width: 769px) {
  .header-navbar__list-wrapper {
    width: 100%;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 !important;
  }
}
.header-navbar__divider {
  border-top: 0.5px solid #797979;
  width: 97px;
  margin-right: 11px;
}
@media (min-width: 320px) {
  .header-navbar__divider {
    height: 1px;
  }
}
@media (min-width: 769px) {
  .header-navbar__divider {
    display: none;
  }
}
.header-navbar__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (min-width: 769px) {
  .header-navbar__list {
    width: 100% !important;
    flex-direction: row;
    justify-content: stretch;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 769px) {
  .header-navbar__list-item {
    display: flex;
    justify-content: stretch;
    text-align: center;
    flex-grow: 1;
  }
}
.header-navbar__link {
  color: #797979;
  padding-right: 11px;
  font-size: 12px;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  .header-navbar__link {
    font-size: 14px;
  }
}
@media (min-width: 769px) {
  .header-navbar__link {
    flex-grow: 1;
    padding: 29px 3px;
    font-size: 11px;
    color: black;
    border-top: 2px solid transparent;
  }
}
@media (min-width: 992px) {
  .header-navbar__link {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .header-navbar__link {
    font-size: 14px;
    padding: 35px 6px;
  }
}
.header-navbar__link:focus {
  background-color: transparent;
  color: #797979;
}
@media (min-width: 769px) {
  .header-navbar__link:focus {
    color: black;
  }
}
.header-navbar__link:hover {
  color: white;
  background-color: #363636;
}
@media (min-width: 769px) {
  .header-navbar__link:hover {
    background-color: #d58e32;
    border-top: 2px solid black;
  }
}

.show {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  padding-top: 75px;
}

.header-info {
  width: 100%;
  background-color: #363636;
}
.header-info-left__icon {
  display: none;
}
@media (min-width: 768px) {
  .header-info-left__icon {
    display: inline-block;
    font-size: 44px;
    color: #d58e32;
    margin-right: 13px;
  }
}
.header-info-left__phone {
  font-size: 11px;
}
@media (min-width: 480px) {
  .header-info-left__phone {
    font-size: 15px;
  }
}
.header-info-left__link:hover {
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
}
.header-info-center {
  padding-top: 27px;
  padding-bottom: 38px;
}
@media (min-width: 480px) {
  .header-info-center {
    padding-top: 38px;
    padding-bottom: 54px;
  }
}
@media (min-width: 768px) {
  .header-info-center {
    padding-top: 34px;
    padding-bottom: 34px;
  }
}
.header-info-center__logo {
  width: 80px;
  height: 37px;
}
@media (min-width: 480px) {
  .header-info-center__logo {
    width: 114px;
    height: 53px;
  }
}
@media (min-width: 768px) {
  .header-info-center__logo {
    width: 165px;
    height: 77px;
  }
}
.header-info-right__cart {
  font-size: 13px;
  padding: 8px 11px 8px 6px;
  background-color: #d58e32;
  border-radius: 2px;
}
@media (min-width: 480px) {
  .header-info-right__cart {
    font-size: 17px;
    padding: 11px 16px 11px 9px;
  }
}
@media (min-width: 768px) {
  .header-info-right__cart {
    font-size: 20px;
    padding: 14px 16px 14px 12px;
  }
}
.header-info-right__cart-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.header-info-right__cart-link:hover {
  color: white;
}
.header-info-right__count {
  font-size: 11px;
  background-color: #363636;
  border-radius: 50%;
  margin-left: -10px;
  padding: 3px 6px;
}
@media (min-width: 480px) {
  .header-info-right__count {
    font-size: 14px;
    padding: 4px 8px;
    margin-left: -12px;
  }
}

.header-menu {
  width: 100%;
  background-color: #434343;
}
.header-menu-left {
  font-size: 11px;
}
@media (min-width: 480px) {
  .header-menu-left {
    font-size: 13px;
  }
}
.header-menu-left__item:not(:first-child) {
  margin-left: 12px;
}
@media (min-width: 480px) {
  .header-menu-left__item:not(:first-child) {
    margin-left: 30px;
  }
}
.header-menu-left__link:hover {
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
}
.header-menu-right {
  font-size: 11px;
}
@media (min-width: 480px) {
  .header-menu-right {
    font-size: 13px;
  }
}
.header-menu-right__login {
  margin-right: 10px;
}
@media (min-width: 480px) {
  .header-menu-right__login {
    margin-right: 33px;
  }
}
.header-menu-right__login-icon {
  font-size: 16px;
  margin-right: 9px;
  vertical-align: text-bottom;
}
.header-menu-right__register-icon {
  font-size: 16px;
  margin-right: 9px;
  vertical-align: text-bottom;
}
.header-menu-right__link:hover {
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.top-slider {
  margin-bottom: 84px;
}
@media (min-width: 768px) {
  .top-slider {
    margin-bottom: 71px;
  }
}
.top-slider__arrows-wrapper--prev {
  padding-right: 0;
}
.top-slider__arrows-wrapper--next {
  padding-left: 0;
}
.top-slider__arrow-box {
  height: 32px;
  background-color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-slider__arrow-box:hover {
  background-color: #d58e32;
}
@media (min-width: 768px) {
  .top-slider__arrow-box {
    height: 39px;
  }
}
.top-slider__link {
  text-decoration: none;
}
.top-slider__link:hover {
  text-decoration: none;
}
.top-slider__link:focus {
  text-decoration: none;
}
.top-slider__arrow {
  color: white;
  font-size: 14px;
}
.top-slider__carousel-caption {
  background-color: rgba(1, 1, 1, 0.5);
  right: 4%;
  bottom: 8%;
  left: 4%;
  padding-top: 5%;
  padding-bottom: 5%;
  z-index: 4;
}
@media (min-width: 768px) {
  .top-slider__carousel-caption {
    right: 0;
    left: 0;
    bottom: 25%;
  }
}
@media (min-width: 992px) {
  .top-slider__carousel-caption {
    bottom: 32%;
  }
}
.top-slider__carousel-heading {
  font-size: 36px;
  text-transform: uppercase;
}
@media (max-width: 479px) {
  .top-slider__carousel-heading {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .top-slider__carousel-heading {
    font-size: 54px;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .top-slider__carousel-heading--thin {
    font-weight: lighter;
  }
}
.top-slider__carousel-text {
  font-size: 18px;
  margin-bottom: 36px;
}
@media (max-width: 479px) {
  .top-slider__carousel-text {
    font-size: 14px;
    margin-bottom: 18px;
  }
}
@media (min-width: 768px) {
  .top-slider__carousel-text {
    font-size: 24px;
    font-weight: lighter;
  }
}
.top-slider__carousel-button {
  font-size: 14px;
  padding: 21px 32px;
  font-weight: bold;
  color: black;
  background-color: white;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 479px) {
  .top-slider__carousel-button {
    font-size: 11px;
    padding: 12px 20px;
  }
}
@media (min-width: 768px) {
  .top-slider__carousel-button {
    position: absolute;
    bottom: -15%;
    left: 40%;
  }
}
@media (min-width: 992px) {
  .top-slider__carousel-button {
    left: 42%;
  }
}
@media (min-width: 1200px) {
  .top-slider__carousel-button {
    left: 44%;
  }
}

.features {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .features {
    margin-bottom: 0;
  }
}
.features__block {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .features__block:nth-child(odd) {
    justify-content: flex-end;
  }
  .features__block:nth-child(even) {
    justify-content: flex-start;
  }
}
.features__block-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  border: 1px solid lightgrey;
  width: 263px;
  margin-bottom: 65px;
}
.features__block-wrapper:hover {
  color: #e0a38e;
}
.features__block-wrapper:hover .features__icon {
  box-shadow: 0 0 0 6px white, 0 0 0 7px #d58e32;
  background-color: #d58e32;
  color: white;
  border-color: #d58e32;
}
.features__icon {
  font-size: 26px;
  padding: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid lightgrey;
  position: absolute;
  box-shadow: 0 0 0 6px white, 0 0 0 7px lightgrey;
  left: 97px;
  top: -32px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .features__icon {
    left: 73px;
  }
}
.features__main-text {
  padding-top: 56px;
}
.features__sub-text {
  font-weight: normal;
  padding-bottom: 22px;
}

.banners {
  padding-bottom: 61px;
}

.banner {
  max-width: 555px;
}
.banner--sofa {
  padding: 185px 0 54px 53px;
  background: url("../img/stocks-sofa.png") no-repeat center top/cover;
  position: relative;
  z-index: 1;
}
.banner--chair {
  padding: 10px 0;
  margin-bottom: 32px;
  background-color: #e8edf7;
  position: relative;
}
.banner--chair:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 151px;
  height: 100%;
  background: url("../img/banners/banner-chair.png") no-repeat left top/contain;
}
.banner--chair:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 151px;
  height: 100%;
  background: url("../img/banners/banner-roundchair.png") no-repeat right top/contain;
}
@media screen and (min-width: 480px) {
  .banner--chair {
    padding: 34px 0;
  }
}
@media screen and (min-width: 768px) {
  .banner--chair {
    padding: 52px 0;
  }
}
.banner--furniture {
  background-color: #fbf3f7;
  height: 135px;
  padding-right: 5px;
  position: relative;
}
.banner--furniture:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 100%;
  background: url("../img/banners/banner-bed.png") no-repeat left center/contain;
}
@media screen and (min-width: 480px) {
  .banner--furniture:before {
    width: 253px;
  }
}
@media screen and (min-width: 480px) {
  .banner--furniture {
    padding-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .banner--furniture {
    height: 195px;
    padding-right: 25px;
  }
}
.banner-heading--sofa {
  max-width: 242px;
  z-index: 100;
  font-size: 36px;
}
.banner-heading--chair {
  font-size: 18px;
}
@media screen and (min-width: 480px) {
  .banner-heading--chair {
    font-size: 24px;
    line-height: 26px;
  }
}
@media screen and (min-width: 768px) {
  .banner-heading--chair {
    font-size: 30px;
    line-height: 26px;
  }
}
@media screen and (min-width: 992px) {
  .banner-heading--chair {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .banner-heading--chair {
    font-size: 30px;
  }
}
.banner-heading--furniture {
  color: #d58e32;
  font-size: 14px;
}
@media screen and (min-width: 480px) {
  .banner-heading--furniture {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .banner-heading--furniture {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  .banner-heading--furniture {
    word-spacing: 100vw;
  }
}
@media screen and (min-width: 1200px) {
  .banner-heading--furniture {
    word-spacing: initial;
  }
}
.banner-heading__item--sofa {
  font-size: 60px;
  line-height: 42px;
}
.banner-heading__item--office-spaced {
  display: inline-block;
  letter-spacing: 3.6px;
  font-size: 14px;
  margin-left: 1px !important;
}
@media screen and (min-width: 768px) {
  .banner-heading__item--office-spaced {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .banner-heading__item--office-spaced {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .banner-heading__item--office-spaced {
    font-size: 18px;
  }
}
.banner__info--sofa {
  z-index: 100;
  display: inline-block;
  font-size: 50px;
  line-height: 37px;
  padding: 15px 21px 22px 17px;
  border-width: 5px !important;
}
.banner__info--chair {
  font-size: 18px;
  color: #d58e32;
}
@media screen and (min-width: 480px) {
  .banner__info--chair {
    font-size: 30px;
    line-height: 27px;
  }
}
@media screen and (min-width: 768px) {
  .banner__info--chair {
    font-size: 36px;
  }
}
.banner__info--furniture {
  display: inline-block;
  font-size: 14px;
  max-width: 120px;
}
@media screen and (min-width: 480px) {
  .banner__info--furniture {
    max-width: initial;
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .banner__info--furniture {
    max-width: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .banner__info--furniture {
    max-width: initial;
  }
}

.sofa-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sofa-overlay:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  background: rgba(42, 42, 42, 0.38);
  z-index: -1;
}

.chair-wrapper {
  max-width: 123px;
}
@media screen and (min-width: 480px) {
  .chair-wrapper {
    max-width: 160px;
  }
}
@media screen and (min-width: 768px) {
  .chair-wrapper {
    max-width: 203px;
  }
}
@media screen and (min-width: 992px) {
  .chair-wrapper {
    max-width: 145px;
  }
}
@media screen and (min-width: 1200px) {
  .chair-wrapper {
    max-width: 203px;
  }
}

.products-list {
  padding-bottom: 60px;
}

.products-header__title {
  font-size: 22px;
}
.products-header__button {
  position: relative;
  padding-left: 36px;
  font-size: 14px;
}
.products-header__button:before {
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 11px;
  position: absolute;
}

.product-item {
  display: none;
  position: relative;
  max-width: 262px;
  margin: 0 auto 30px;
}
.product-item:before {
  content: "sale";
  position: absolute;
  display: none;
  text-align: center;
  font-size: 12px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 21px;
  width: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  background-color: black;
  color: white;
  z-index: 10;
}
.product-item:hover .product-item__price {
  background-color: #d58e32 !important;
}
.product-item:hover .product-item__heading {
  color: #d58e32 !important;
}
.product-item:hover .product-item-buttonset {
  display: flex;
}
.product-item:hover:before {
  display: block;
}
.product-item__image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 260px;
}
.product-item__image img {
  max-height: 260px;
}
.product-item-buttonset {
  bottom: 0;
  display: none;
}
.product-item-buttonset__button {
  font-size: 13px;
}
.product-item__heading {
  transition: all 0.2s;
  font-size: 16px;
}
.product-item__sale {
  font-size: 16px;
  text-decoration: line-through;
  align-self: center;
  margin-right: -15px;
}
.product-item__price {
  transition: all 0.2s;
}

.card-footer:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  top: -4px;
  right: 50%;
  transform: translateX(50%);
  background-color: #d58e32;
}

.load-more {
  margin-top: 60px;
}

.square-button--products {
  margin: 0 !important;
}

.gallery__heading {
  font-size: 20px;
  text-transform: uppercase;
  color: #d58e32;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 30px;
}
.gallery__heading:before {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 44px;
  border-bottom: 3px solid #d58e32;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.gallery__heading:after {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 100%;
  border-bottom: 3px solid lightgrey;
  bottom: -1px;
  left: 0;
}
.gallery__tabs {
  border-bottom: none;
  justify-content: stretch;
}
@media (max-width: 768px) {
  .gallery__tabs {
    display: none !important;
  }
}
.gallery__tabs-item {
  display: flex;
  justify-content: stretch;
  text-align: center;
  flex-grow: 1;
}
.gallery__tabs-link {
  flex-grow: 1;
  font-size: 14px;
  border: 1px solid #b1b1b154;
  border-right: none;
  padding: 16px 18px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.gallery__tabs-link:hover {
  text-decoration: none;
  color: black;
}
.gallery__tabs-link--rated {
  border-right: 1px solid #b1b1b154;
}
.gallery__carousel-item {
  width: 100%;
  height: 272px;
  background-color: #f4f5f7;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
@media (min-width: 480px) {
  .gallery__carousel-item {
    height: 454px;
  }
}
@media (min-width: 768px) {
  .gallery__carousel-item {
    justify-content: center !important;
  }
}
.gallery__banner {
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #e8edf7;
  background-image: url("../img/gallery-bedroom.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  display: none;
}
@media (min-width: 992px) {
  .gallery__banner {
    display: flex;
  }
}
.gallery__banner-price {
  margin-top: 70px;
  margin-left: 62px;
  font-size: 24px;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.gallery__banner-price--highlight {
  font-size: 48px;
  color: #79ae30;
  font-weight: 600;
}
.gallery__banner-name {
  font-size: 48px;
  color: #d58e32;
  margin-left: 62px;
  font-weight: 600;
  margin-bottom: 35px;
}
.gallery__banner-button {
  width: 136px;
  font-size: 14px;
  padding: 21px 32px;
  margin-left: 62px;
  background-color: #79ae30;
}

.carousel-item__icons-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .carousel-item__icons-wrapper {
    position: absolute;
    left: 0;
    top: 30%;
  }
}
.carousel-item__icon {
  cursor: pointer;
}
.carousel-item__icon:hover {
  border-color: #d58e32;
  color: #d58e32;
}
.carousel-item__image {
  width: 232px;
  height: auto;
}
@media (min-width: 480px) {
  .carousel-item__image {
    width: 388px;
  }
}
@media (min-width: 768px) {
  .carousel-item__image {
    width: 532px;
  }
}
.carousel-item__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 22px;
  left: 143px;
  background-color: white;
  width: 249px;
  height: 106px;
}
@media (max-width: 479px) {
  .carousel-item__card {
    width: 150px;
    height: 63px;
    bottom: 10px;
    left: 95px;
  }
}
@media (min-width: 768px) {
  .carousel-item__card {
    left: unset;
    right: 0;
    bottom: 75px;
  }
}
.carousel-item__card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 14px solid transparent;
  border-left: 14px solid black;
  border-top: 14px solid black;
  z-index: 2;
}
@media (max-width: 479px) {
  .carousel-item__card:after {
    border: 8px solid transparent;
    border-left: 8px solid black;
    border-top: 8px solid black;
  }
}
.carousel-item__card:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border: 14px solid transparent;
  border-right: 14px solid black;
  border-bottom: 14px solid black;
  z-index: 2;
}
@media (max-width: 479px) {
  .carousel-item__card:before {
    border: 8px solid transparent;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
  }
}
.carousel-item__name {
  font-size: 16px;
}
@media (max-width: 479px) {
  .carousel-item__name {
    font-size: 12px;
  }
}
.carousel-item__icons-block {
  font-size: 16px;
}
@media (max-width: 479px) {
  .carousel-item__icons-block {
    font-size: 12px;
  }
}
.carousel-item__link {
  text-decoration: none;
}
.carousel-item__link:hover {
  text-decoration: none;
}
.carousel-item__link:hover .square-button {
  color: #d58e32;
  border-color: #d58e32;
}
.carousel-item__link:focus {
  text-decoration: none;
}

.price-circle {
  display: flex;
  flex-direction: column;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-color: #7b7b7c;
  position: absolute;
  bottom: 22px;
  left: 65px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0.6;
}
@media (max-width: 479px) {
  .price-circle {
    width: 63px;
    height: 63px;
    bottom: 10px;
    left: 44px;
  }
}
@media (min-width: 768px) {
  .price-circle {
    left: unset;
    right: 62px;
    bottom: 162px;
  }
}
.price-circle__price--new {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
@media (max-width: 479px) {
  .price-circle__price--new {
    font-size: 14px;
  }
}
.price-circle__price--old {
  font-size: 16px;
  color: white;
  text-decoration: line-through;
}
@media (max-width: 479px) {
  .price-circle__price--old {
    font-size: 11px;
  }
}

.square-button {
  margin: 10px 15px;
  background-color: transparent;
}
@media (max-width: 479px) {
  .square-button {
    width: 26px;
    height: 26px;
  }
}

.active:focus {
  color: #d58e32 !important;
  border-top: 3px solid #d58e32 !important;
  text-decoration: none;
  background-color: #f4f5f7;
}

.tooltip {
  position: absolute;
  z-index: 999;
  left: -9999px;
  background-color: #dedede;
  padding: 5px;
  border: 1px solid #fff;
  width: auto;
}

.tooltip p {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #222;
  padding: 2px 7px;
}

.thumbs-check {
  position: absolute;
}

.blog-heading {
  padding-bottom: 12px;
  margin-bottom: 34px;
  border-bottom: 3px solid #e2e2e2;
}
.blog-heading:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 44px;
  height: 3px;
  background-color: #d58e32;
}
.blog-heading__title {
  font-size: 20px;
  color: #d58e32;
}
.blog-item {
  padding: 230px 30px 30px;
  min-height: 540px;
  max-width: 360px;
  background-size: auto 290px;
}
.blog-item--1 {
  background: url("../img/blog/1.jpg") no-repeat right top;
}
.blog-item--2 {
  background: url("../img/blog/2.jpg") no-repeat right top;
}
.blog-item--3 {
  background: url("../img/blog/3.jpg") no-repeat right top;
}
.blog-content {
  background-color: white;
}
.blog-content-header {
  padding: 30px;
  font-size: 13px;
  margin-bottom: 15px;
}
.blog-content-header i {
  font-size: 15px;
  color: black !important;
}
.blog-content-main {
  padding: 0 5px;
}
.blog-content-main__heading {
  color: #d58e32;
  font-size: 16px;
}
.blog-content-main__text {
  font-size: 14px;
  margin-bottom: 37px !important;
}
.blog-content-main__button {
  min-width: 165px;
  color: white !important;
  background-color: #d58e32 !important;
}

.carousel-controls {
  justify-content: space-between;
  right: 0;
  background-color: white;
}
.carousel-controls--mobile {
  padding-left: 5px;
  bottom: -15px;
  min-width: 71px;
}
.carousel-controls--tablet {
  min-width: 100px;
  top: -57px;
}

.square-button--control {
  width: 30px;
  height: 30px;
  position: static;
  color: black;
}
.square-button--control:hover, .square-button--control :active {
  color: #d58e32;
  border-color: #d58e32;
}

.carousel-control {
  text-decoration: none;
  color: black;
}
.carousel-control:hover, .carousel-control :active {
  text-decoration: none;
}

.blog-carousel-indicators {
  position: static;
  margin-top: 5px;
  margin-left: 15px;
}
.blog-carousel-indicators__item {
  width: 13px !important;
  height: 13px !important;
  border-radius: 50%;
  background-color: #e2e2e2 !important;
}
.blog-carousel-indicators__item:hover, .blog-carousel-indicators__item:active {
  background-color: #d58e32 !important;
}

.blog-carousel-indicators__item.active {
  background-color: #d58e32 !important;
}

.subscribe {
  background: #f2f2f2;
}
.subscribe__heading {
  color: #d58e32;
  font-size: 22px;
}
.subscribe-form {
  position: relative;
}
.subscribe-form__input {
  width: 80%;
  border: none;
  border-radius: 3px;
  padding: 12px 0 12px 40px;
  font-size: 14px;
}
.subscribe-form__input::placeholder {
  font-size: 12px;
}
@media (min-width: 480px) {
  .subscribe-form__input {
    width: 85%;
    min-width: 372px;
    padding-left: 50px;
  }
}
@media (min-width: 768px) {
  .subscribe-form__input {
    min-width: 420px;
    padding-left: 67px;
  }
}
.subscribe-form-label {
  position: relative;
  left: 5%;
  bottom: 4px;
}
@media (min-width: 576px) {
  .subscribe-form-label {
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .subscribe-form-label {
    left: 6%;
  }
}
.subscribe-form-label:before {
  content: "";
  position: absolute;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  color: #d58e32;
}
.subscribe-form-label:after {
  content: "";
  position: absolute;
  height: 18px;
  width: 1px;
  background-color: #bfbfbf;
  left: 22px;
}
.subscribe-form__button {
  font-size: 16px;
  color: #d58e32;
  padding: 10px 15px 9px;
}
.subscribe-wrapper {
  width: 100%;
  max-width: 746px;
  padding: 37px 0;
}

.filter-item {
  margin-bottom: 60px;
}
.filter-item__heading {
  font-size: 16px;
  margin-bottom: 29px;
}
.filter-item__heading:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  right: 0;
  background-color: black;
}

.filter-categories-label {
  margin-bottom: 12px;
  cursor: pointer;
}
.filter-categories-label__text {
  margin-top: 1px;
  font-size: 13px;
}
.filter-categories-label__icon {
  font-size: 10px;
}

.filters-quantity {
  width: 23px;
  padding: 2px 0 2px 1px;
  font-size: 13px;
}

.default-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.categories-checkbox:checked + .filter-categories-label {
  color: #d58e32 !important;
}

.categories-checkbox:checked + .filter-categories-label > .filters-quantity {
  background-color: #d58e32 !important;
}

.filter-categories-label:hover {
  color: #d58e32 !important;
}

.filter-categories-label:hover > .filters-quantity {
  background-color: #d58e32 !important;
}

.filter-price {
  font-size: 14px;
}
.filter-price__button {
  padding: 0px 13px;
  background-color: #d58e32 !important;
}
.filter-price__value {
  box-sizing: border-box;
  max-width: 114px;
  padding: 8px 15px 6px;
}

.ui-slider-range {
  background-color: black !important;
}

.ui-slider-handle {
  border-radius: 50% !important;
  border: 3px solid #d58e32 !important;
  background: white !important;
  width: 1.2rem !important;
  height: 1.2rem !important;
  top: -0.3rem !important;
}
.ui-slider-handle:focus {
  outline: none;
}
.ui-slider-handle:active {
  background-color: #d58e32;
  border: none;
}

.filter-colors-label, .size-label-inner-wrapper {
  display: flex;
  align-items: center;
}
.filter-colors-checkbox, .filter-size-checkbox {
  position: relative;
  width: 14px;
  height: 14px;
  display: inline-block;
}
.filter-colors-checkbox--red {
  background-color: #fa5f66;
}
.filter-colors-checkbox--black {
  background-color: #454545;
}
.filter-colors-checkbox--yellow {
  background-color: #e9e600;
}
.filter-colors-checkbox--blue {
  background-color: #0190d3;
}
.filter-colors-checkbox--pink {
  background-color: #f72fe4;
}
.filter-colors-checkbox--green {
  background-color: #14d400;
}
.filter-colors-checkbox__tick, .filter-size-checkbox__tick {
  position: absolute;
  font-size: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  opacity: 0;
  transition: all 0.2s;
}
.filter-colors-label, .size-label-inner-wrapper {
  cursor: pointer;
}
.filter-colors-label__text {
  font-size: 13px;
}

.colors-checkbox:checked + .filter-colors-label .filter-colors-label__text, .colors-checkbox:checked + .size-label-inner-wrapper .filter-colors-label__text {
  color: #d58e32 !important;
}

.colors-checkbox:checked + .filter-colors-label .filter-colors-checkbox__tick, .colors-checkbox:checked + .size-label-inner-wrapper .filter-colors-checkbox__tick, .colors-checkbox:checked + .filter-colors-label .filter-size-checkbox__tick, .colors-checkbox:checked + .size-label-inner-wrapper .filter-size-checkbox__tick {
  opacity: 1;
}

.filter-colors-label:hover .filter-colors-label__text, .size-label-inner-wrapper:hover .filter-colors-label__text {
  color: #d58e32 !important;
}

.filter-size-label {
  cursor: pointer;
}
.filter-size-label__text {
  font-size: 13px;
}
.size-checkbox:checked + .filter-size-label .filter-size-checkbox,
.size-checkbox:checked + .filter-size-label .filters-quantity {
  background-color: #d58e32 !important;
  border-color: transparent !important;
}

.size-checkbox:checked + .filter-size-label .filter-size-checkbox__tick {
  opacity: 1;
}

.size-checkbox:checked + .filter-size-label .filter-size-label__text {
  color: #d58e32;
}

.filter-size-label:hover .filter-size-label__text {
  color: #d58e32;
}

.filter-size-label:hover .filters-quantity {
  background-color: #d58e32 !important;
}

.filter-tags-list {
  flex-wrap: wrap;
}
.filter-tags-item:nth-child(1n) .filter-tags-label {
  margin-right: 8px;
}
@media screen and (min-width: 480px) {
  .filter-tags-item:nth-child(1n) .filter-tags-label {
    margin-right: 16px;
  }
}
.filter-tags-label {
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 8px;
  transition: all 0.2s;
  font-size: 11px;
  padding: 5px 8px 5px 20px;
}
@media screen and (min-width: 480px) {
  .filter-tags-label {
    min-width: 97px;
    padding: 12px 11px 11px 34px;
    font-size: 14px;
    margin-bottom: 12px;
  }
}
.filter-tags-label:hover {
  border-color: #d58e32 !important;
}
.filter-tags-label__icon {
  font-size: 10px;
  left: 5px;
  transition: all 0.2s;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 480px) {
  .filter-tags-label__icon {
    font-size: 14px;
    left: 12px;
  }
}

.tags-checkbox:checked + .filter-tags-label,
.tags-checkbox:checked + .filter-tags-label .filter-tags-label__icon {
  color: #d58e32 !important;
  border-color: #d58e32 !important;
}

.filter-tags-label:hover,
.filter-tags-label:hover .filter-tags-label__icon {
  color: #d58e32 !important;
  border-color: #d58e32 !important;
}

.footer-info {
  padding: 60px 0;
  background-color: #363636;
}

.footer-item__heading {
  font-size: 16px;
  margin-bottom: 35px;
}
@media (min-width: 480px) {
  .footer-item__heading {
    font-size: 22px;
  }
}

.footer-menu:not(:last-child) {
  margin-bottom: 42px;
}
.footer-menu__item {
  margin-bottom: 12px;
}

.footer-menu__link {
  color: #a9a9a9;
  font-size: 14px;
}
.footer-menu__link:hover {
  color: #a9a9a9;
}

.payments {
  flex-wrap: wrap;
}
.payments-item {
  margin-top: 14px;
}
.payments-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social {
  color: #a9a9a9;
  background-color: #2a2a2a;
  padding: 38px 0 17px;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  margin-bottom: 22px;
}
@media (min-width: 786px) {
  .footer-copyright {
    margin-bottom: 0;
    text-align: left;
  }
}

.footer-icons {
  justify-content: center;
  font-size: 18px;
}
@media (min-width: 786px) {
  .footer-icons {
    justify-content: end;
  }
}

.social-list {
  width: 205px;
}

.social-item__link {
  color: #a9a9a9;
}
.social-item__link:hover {
  color: #d58e32;
}

.modal-register__content {
  border-radius: 0;
}
.modal-register__header {
  padding-left: 37px;
  padding-right: 41px;
}
.modal-register__body {
  padding-bottom: 0;
  padding-left: 37px;
  padding-right: 41px;
}
.modal-register__title {
  font-size: 30px;
  font-weight: bold;
  padding-top: 64px;
}
.modal-register__input {
  font-size: 14px;
  border-radius: 0;
  padding: 20px 14px;
}
.modal-register__btn-close {
  background-color: black;
  border-color: black;
}
.modal-register__btn-close:hover {
  background-color: #d58e32;
  border-color: #d58e32;
}
.modal-register__btn-register {
  border-radius: 0;
  background-color: black;
  color: white;
  border: none;
  text-align: center;
  margin-left: 0;
  padding: 15px 28px;
  text-transform: uppercase;
  font-size: 13px;
}
.modal-register__btn-register:hover {
  background-color: #d58e32;
}
.modal-register__btn-register:focus {
  background-color: black;
}
.modal-register__footer {
  border: none;
  justify-content: flex-start;
  padding-left: 0;
  padding-bottom: 34px;
}

.empty {
  padding: 0 50px;
}
.empty__text {
  color: #939393;
}
.empty__text--main {
  font-size: 30px;
}
@media screen and (min-width: 480px) {
  .empty__text--main {
    font-size: 48px;
  }
}
.empty__text--small {
  font-size: 20px;
}
@media screen and (min-width: 480px) {
  .empty__text--small {
    font-size: 30px;
  }
}

.cart-item {
  margin-bottom: 15px;
}
.cart-item__image {
  max-height: 150px;
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .cart-item__image {
    max-height: 170px;
  }
}

.cart-info__name {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 480px) {
  .cart-info__name {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) {
  .cart-info__name {
    white-space: nowrap;
    margin-bottom: 36px;
  }
}
.cart-info__sale {
  text-decoration: line-through;
}
.cart-info__price {
  max-width: 104px;
}

@media screen and (min-width: 992px) {
  .cart-item-quantity {
    margin-top: 55px;
  }
}

.cart-counter {
  flex-wrap: wrap;
}
.cart-counter__label {
  font-size: 14px;
}

.counter-controls__count {
  width: 50px;
  text-align: center;
  padding: 4px 0;
}
@media screen and (min-width: 480px) {
  .counter-controls__count {
    width: 73px;
  }
}
.counter-controls__button {
  text-align: center;
  width: 34px;
  padding: 4px 0;
  background-color: transparent;
  transition: all 0.3s;
  outline: none;
}
@media screen and (min-width: 480px) {
  .counter-controls__button {
    width: 42px;
  }
}
.counter-controls__button:focus {
  outline: none;
}
.counter-controls__button:hover {
  color: #d58e32;
  border-color: #d58e32 !important;
}

.cart-summary {
  font-size: 22px;
}

.cart-btn--buy {
  background-color: #d58e32 !important;
}

.details-modal {
  padding: 32px;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 720px;
    max-width: initial;
  }
}
@media screen and (min-width: 980px) {
  .modal-dialog {
    width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-dialog {
    width: 1140px;
  }
}

.details-image {
  max-width: 259px;
  max-height: 242px;
}
@media screen and (min-width: 768px) {
  .details-image {
    max-width: initial;
    max-height: initial;
  }
}

.details-heading__title {
  font-size: 16px;
}
@media screen and (min-width: 480px) {
  .details-heading__title {
    font-size: 22px;
  }
}

.details-rating {
  font-size: 13px;
}
@media screen and (min-width: 480px) {
  .details-rating {
    font-size: 16px;
  }
}

.border-gray {
  border-color: #cccccc !important;
}

.details-price__sale {
  font-size: 14px;
  text-decoration: line-through;
}
@media screen and (min-width: 480px) {
  .details-price__sale {
    font-size: 20px;
  }
}
.details-price__actual {
  font-size: 16px;
}
@media screen and (min-width: 480px) {
  .details-price__actual {
    font-size: 22px;
  }
}

.details-cart__button {
  background-color: #d58e32;
  padding-top: 9px;
  padding-bottom: 6px;
}

.square-button--details {
  display: none;
}
@media screen and (min-width: 480px) {
  .square-button--details {
    display: inline-block;
  }
}

.details-description__heading {
  font-size: 15px;
}
.details-description__text {
  font-size: 14px;
}

.details-info__item {
  font-size: 13px;
}

.share-list {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 369px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .share-list {
    max-width: initial;
  }
}
@media screen and (min-width: 1200px) {
  .share-list {
    justify-content: space-between;
  }
}
.share-item:first-child {
  background-color: #3b5998;
  color: #ffffff !important;
}
.share-item:nth-child(4) {
  margin-bottom: 18px;
}
@media screen and (min-width: 431px) {
  .share-item:nth-child(4) {
    margin-bottom: 0;
  }
}
.share-item:nth-child(-n+3) {
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .share-item:nth-child(-n+3) {
    margin-bottom: 0;
  }
}
.share-item:not(:last-child) {
  margin-right: 6px;
}
.share-item__link {
  position: relative;
  display: inline-block;
  min-width: 82px;
  font-size: 13px;
  padding: 10px 12px 10px 32px;
}
@media screen and (min-width: 992px) {
  .share-item__link {
    padding: 10px 9px 10px 28px;
  }
}
@media screen and (min-width: 1200px) {
  .share-item__link {
    font-size: 14px;
    padding: 10px 12px 10px 32px;
  }
}
.share-item__link i {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-55%);
  font-size: 15px;
  line-height: 15px;
}
.share-item__link .fa-facebook {
  color: #ffffff;
}
.share-item__link .fa-google-plus {
  color: #d62d20;
}
.share-item__link .fa-twitter {
  color: #4099ff;
}
.share-item__link .fa-pinterest {
  color: #cb2a30;
}
.share-item__link .fa-linkedin {
  color: #0077b5;
}

.filters--modal {
  padding: 50px 36px;
}

.filter-item--modal {
  margin: 0 auto 35px;
  max-width: 250px;
}

.page-wrapper {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
