$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

@media (min-width: 980px) {

  .navigation-bar {
    align-items: center;
  }

  .navigation-bar__menu {
    display: flex;
  }

  .menu__item {
    font-size: 15px;
    text-transform: uppercase;
    color: #EBEBEB;
    font-family: $font-montserrat;
    padding-left: 25px;
  }

  .main-banner__text--love {
    font-size: 54px;
    padding-left: 30px;
    padding-top: 48px;
  }

  .main-banner__text--pizza {
    font-size: 54px;
    padding-left: 30px;
    padding-bottom: 43px;
  }
  .main-banner__web-link {
    font-size: 34px;
    padding-left: 30px;
    padding-bottom: 195px;
  }

  .page-link__arrow1, .page-link__arrow2, .page-link__arrow3 {
    display: none;
  }
  .page-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-bottom: 38px;
  }
  .page-link {
    display: contents;
  }

  .page-link__image--pizza, .page-link__image--salads, .page-link__image--desserts {
    font-size: 38px;
    padding-bottom: 135px;
    padding-top: 135px;
  }

  .restaurant-menu__header {
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurant-menu__header-text-wrapper {
    justify-content: center;
  }

  .menu-header__menu-logo {
    display: inline-block;
    width: 109px;
  }
  .menu-header__text--main {
    font-size: 35px;
  }
  .menu-header__text--secondary {
    font-size: 20px;
  }
  .restaurant-menu__sections-wrapper {
    display: flex;
    flex-direction: row;
  }
  .restaurant-menu__part1, .restaurant-menu__part2 {
    width: 100%
  }

  .restaurant-menu__part1--header, .restaurant-menu__part2--header {
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 18px;
  }

  .restaurant-menu__section-name, .restaurant-menu__section-name2, .restaurant-menu__section-name3 {
    margin-bottom: 26px;
  }
  .restaurant-menu__section-name--text, .restaurant-menu__section-name2--text, .restaurant-menu__section-name3--text, .restaurant-menu__section-name4--text {
    font-size: 22px;
  }
  .restaurant-menu__section-name--image1 {
    width: 42px;
  }
  .restaurant-menu__section-name--image2 {
    width: 25px;
  }
  .restaurant-menu__section-name--image3 {
    width: 56px;
  }
  .restaurant-menu__section-name--image4 {
    width: 40px;
  }
  .restaurant-menu__item {
    margin-bottom: 21px;
  }
  .restaurant-menu__list {
    margin-bottom: 28px;
  }
  .restaurant-menu__list--header {
    margin-bottom: 14px;
  }
  .restaurant-menu__list--name {
    font-size: 20px;
    font-weight: normal;
  }

  .restaurant-menu__list--price {
    font-size: 20px;
  }
  .restaurant-menu__list--text-wrapper {
    line-height: 1;
  }
  .restaurant-menu__list--text {
    font-size: 16px;
    letter-spacing: 0;
    font-weight: normal;
  }
  .footer-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }
  .footer-block__logo {
    display: inline-block;
    width: 104px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
  }
  .footer-block__text--top {
    padding-right: 6px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer-block__text--bottom {
    padding-bottom: 0;
  }
  .footer-block__text-wrapper {
    flex-direction: row;
    padding-right: 23px;
  }
}