@media (min-width: 1200px) {

  .main-banner__text--love {
    font-size: 62px;
    padding-left: 30px;
    padding-top: 48px;
  }

  .main-banner__text--pizza {
    font-size: 62px;
    padding-left: 30px;
    padding-bottom: 43px;
  }
  .main-banner__web-link {
    font-size: 38px;
    padding-left: 30px;
    padding-bottom: 284px;
  }

  .page-link__image--pizza, .page-link__image--salads, .page-link__image--desserts {
    font-size: 43px;
    padding-bottom: 160px;
    padding-top: 160px;
  }

  .menu-header__menu-logo {
    width: 120px;
  }
  .menu-header__text--main {
    font-size: 40px;
  }
  .menu-header__text--secondary {
    font-size: 25px;
  }

  .restaurant-menu__part1--header, .restaurant-menu__part2--header {
    font-size: 29px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 21px;
  }

  .restaurant-menu__section-name--text, .restaurant-menu__section-name2--text, .restaurant-menu__section-name3--text, .restaurant-menu__section-name4--text {
    font-size: 25px;
  }

  .restaurant-menu__section-name--image1 {
    width: 49px;
  }
  .restaurant-menu__section-name--image2 {
    width: 27px;
  }
  .restaurant-menu__section-name--image3 {
    width: 61px;
  }
  .restaurant-menu__section-name--image4 {
    width: 43px;
  }


  .restaurant-menu__item {
    margin-bottom: 23px;
  }
  .restaurant-menu__list {
    margin-bottom: 32px;
  }
  .restaurant-menu__list--header {
    margin-bottom: 16px;
  }
  .restaurant-menu__list--name {
    font-size: 25px;
  }

  .restaurant-menu__list--price {
    font-size: 25px;
  }
  .restaurant-menu__list--text {
    font-size: 18px;
  }
  .footer-block {
    font-size: 20px;
  }
  .footer-block__logo {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  .footer-block__text--top {
    padding-right: 8px;
  }

  .footer-block__text-wrapper {
    padding-right: 29px;
  }

}