@media (width: 320px) {
  .page-content {
    width: 320px;
  }

  .navigation-bar__burger {
    height: 37px;
  }

  .burger__line--top {
    margin-top: 3px;
    margin-left: 1.7px;
  }

  .burger__line--middle {
    margin-bottom: 2px;
    margin-left: 1.7px;
  }

  .burger__line--bottom {
    margin-bottom: 4px;
    margin-left: 1.7px;
  }

  .navigation-bar__dropdown-menu {
    bottom: -161px;
    width: 182px;
  }

  .page-link__image--pizza {
    background-size: initial;
    padding-left: 0.29rem;
    letter-spacing: 0.2px;
  }

  .page-link__image--salads {
    background-size: initial;
    padding-left: 1.6rem;
  }

  .page-link__image--desserts {
    background-size: initial;
    padding-right: 0.3rem;
  }

  .page-link__arrow1 {
    position: relative;
    width: 29%;
  }

  .page-link__arrow2 {
    position: relative;
    width: 31.5%;
  }

  .page-link__arrow3 {
    position: relative;
    width: 28.7%;
  }

  .page-link__arrow--icon1 {
    position: absolute;
    top: 35%;
    left: 42%;
  }

  .page-link__arrow--icon2 {
    position: absolute;
    top: 34.5%;
    left: 41.5%;
  }

  .page-link__arrow--icon3 {
    position: absolute;
    top: 34.5%;
    left: 41.5%;
  }

  .menu-header__text--main {
    padding-left: 0.2rem;
  }

  .menu-header__text--secondary {
    padding-left: 0.28rem;
  }
  .restaurant-menu__part1 {
    margin-bottom: 34px;
  }
  .restaurant-menu__section-name--image2 {
    padding-right: 5.5px;
    width: 13.5px;
  }

  .restaurant-menu__section-name2--text {
    padding-left: 3.5px;
    padding-top: 4px;
  }

  .restaurant-menu__section-name4--text {
    padding-left: 1.1px;
    padding-top: 3px;
  }

  .restaurant-menu__section-name--image4 {
    padding-right: 6px;
    padding-top: 0.8px;
  }

  .footer-block__text--top {
    padding-left: 5px;
  }

  .footer-block__text--bottom {
    padding-left: 2px;
  }
}